/*===GridView===*/
* {
  box-sizing: inherit;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  border: 1px solid red;
}
/*===Body===*/
body {
  margin: 0;
}
/*===MainContainer===*/
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*===Header===*/
.header {
  height: 165px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373536;
  transition: top 0.5s;
}
/*===Logo===*/
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 100%;
  width: 487px;
}
/*===SocialMedia*/
.social-media {
  display: flex;
  flex-direction: column;
}
.social-media a {
  color: white;
}
/*===Navbar===*/
.navbar {
  width: 100%;
  position: fixed;
  background-color: #585555;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 165px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 3px 25px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  transition: top 0.5s;
}

.navbar a {
  text-decoration-line: none;
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #676565;
}

.active {
  background-color: #676565;
}

.navbar a span {
  padding: 10px;
}

/*===ContentContainer===*/
.content-container {
  height: 100%;
  margin-top: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: margin 0.5s;
}
/*===Carousel===*/
.carousel-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 440px;
}
.carousel-container a img {
  height: 440px;
  width: 600px;
}
#postre1 {
  opacity: 1;
  animation: display 10s infinite;
}

#postre2 {
  opacity: 0;
  animation: display2 10s infinite;
  animation-delay: 3s;
}

#postre3 {
  opacity: 0;
  animation: display3 10s infinite;
  animation-delay: 6s;
}

/*===Contact===*/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-information {
  color: white;
  justify-content: center;
  height: 82px;
  width: 294px;
  align-items: center;
  padding: 20px;
  text-align: justify;
  background-image: url("C:\\Users\\ricar\\Documents\\BakeryProject\\img\\bg.jpg");
  background-size: cover;
}

.contact-information a {
  color: white;
}

/*===Footer===*/
.footer {
  height: 50px;
  background-color: #585555;
  bottom: 0;
  width: 100%;
}

/*===Animations===*/
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@keyframes display2 {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  10% {
    transform: translateX(-600px);
    opacity: 1;
  }
  20% {
    transform: translateX(-600px);
    opacity: 1;
  }
  30% {
    transform: translateX(-800px);
    opacity: 0;
  }
  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}
@keyframes display3 {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }
  10% {
    transform: translateX(-1200px);
    opacity: 1;
  }
  20% {
    transform: translateX(-1200px);
    opacity: 1;
  }
  30% {
    transform: translateX(-1300px);
    opacity: 0;
  }
  100% {
    transform: translateX(-1300px);
    opacity: 0;
  }
}

@media only screen and (max-width: 996px) {
  .mobile-navbar {
    display: flex;
    background: #373536;
    height: 105px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .menu-icon {
    position: absolute;
  }
  .mobile-navbar .menu-icon i {
    color: white;
  }
}
